<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(233, 236, 239, 0.1)"
  size="medium"
  color="#f5627c"
  type="line-scale-pulse-out"
  [fullScreen]="false"
  [name]="nombreComponente"
  ><p style="color: black; font-weight: bold">Espere...</p></ngx-spinner
>

<!-- Inicio componente -->
<div
  *ngIf="!loading && !ready"
  class="container-fluid mb-3 content-sticky"
>
  <!-- Contenido -->
  <div *ngIf="errorMessage == ''" class="card animate__animated animate__fadeIn">
    <div class="card-header-form">
      <div class="h4 m-3 px-3 text-center text-white clearfix">
        <button
          class="float-left btn btn-sm btn-outline-warning"
          [routerLink]="['/jornadas']"
        >
          <i class="fas fa-angle-double-left"></i>&nbsp; Cancelar
        </button>
        {{ textoBoton }}
      </div>      
    </div>
    <div class="card-body back-form shadow-effect">
      <h5 class="h5 pb-2 mt-n1 text-center border-bottom">
        Móvil {{ internoMovil }}
      </h5>
      <form [formGroup]="datosJornada">
        <fieldset>
          <div class="container">
            <ng-container
              *ngIf="abreJornada; then inicioJornada; else cierraJornada"
            ></ng-container>
            <ng-template #inicioJornada>
              <div class="form-group">
                <label for="chofer_pref" class="col-form-label">Chofer:</label>
                <select
                  class="form-control"
                  [ngClass]="{
                    'border-danger': datosJornada.get('chofer_id').invalid
                  }"
                  formControlName="chofer_id"
                >
                  <option value="" selected>-- Seleccione uno --</option>
                  <option
                    *ngFor="let chofer of choferesDisponibles"
                    [value]="chofer.chofer_id"
                    [selected]="chofer.chofer_id == chfParam"
                  >
                    {{ chofer.apellido }} {{ chofer.nombre }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="inicio" class="col-form-label"
                  >Fecha y Hora de Inicio:</label
                >
                <input
                  [owlDateTime]="inicio"
                  [owlDateTimeTrigger]="inicio"
                  [min]="jornada.hora_cierre || jornada.hora_inicio"
                  formControlName="hora_inicio"
                  class="form-control"
                  placeholder="Fecha y Hora Inicio"
                />
                <owl-date-time
                  [startAt]="jornada.hora_cierre || jornada.hora_inicio"
                  #inicio
                ></owl-date-time>
              </div>
            </ng-template>
            <ng-template #cierraJornada>
              <div class="form-group">
                <label class="col-form-label">Chofer:</label>
                <span class="form-control">
                  {{
                    jornada.chofer_id
                      | nombreCompleto: "chofer_id":choferesDisponibles
                  }}
                </span>
              </div>

              <div class="form-group">
                <label for="cierre" class="col-form-label"
                  >Fecha y Hora de Cierre:</label
                >
                <input
                  [owlDateTime]="cierre"
                  [owlDateTimeTrigger]="cierre"
                  [min]="jornada.hora_inicio"
                  formControlName="hora_cierre"
                  class="form-control"
                  placeholder="Fecha y Hora Cierre"
                />
                <owl-date-time
                  [startAt]="jornada.hora_inicio"
                  #cierre
                ></owl-date-time>
              </div>
            </ng-template>

            <div class="form-row mt-4">
              <div class="col">
                <button
                  type="button"
                  (click)="datosJornada.valid && confirmaGuardado()"
                  class="btn btn-block btn-primary"
                  [disabled]="datosJornada.invalid || loading"
                >
                  <i
                    [ngClass]="
                      loading
                        ? 'fas fa-sync-alt fa-spin'
                        : 'fas fa-business-time'
                    "
                  ></i
                  >&nbsp;
                  {{ loading ? "Espere..." : textoBoton }}
                </button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <!-- Fin Contenido -->
  <!-- Mensajes de Error -->
  <div *ngIf="!loading && errorMessage != ''" class="row">
    <div class="col">
      <app-error
        [origin]="nombreComponente"
        [errorMessage]="errorMessage"
      ></app-error>      
    </div>
  </div>
  <!-- Fin Mensajes de Error -->
</div>
