<div class="container shadow p-3 mb-3 rounded">
  <div class="row justify-content-center">
    <div class="col-md-11">
      <form [formGroup]="datosPersona" (ngSubmit)="confirmaGuardado()">
        <fieldset [disabled]="!editar">
          <!-- Inputs y Validaciones: Apellido y Nombre -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="apellido" class="col-form-label"
                >Apellido: &nbsp;<span *ngIf="apellido.touched">
                  <ng-container
                    *ngIf="apellido.valid; then valido; else invalido"
                  ></ng-container>
                </span>
              </label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'border-danger': apellido.touched && apellido.invalid
                }"
                formControlName="apellido"
                placeholder="Apellido"
              />
              <small
                *ngIf="apellido.touched && apellido.invalid"
                class="text-danger"
              >
                Ingrese el Apellido (3-40 caracteres)
              </small>
            </div>
            <div class="form-group col-md-6">
              <label for="nombre" class="col-form-label">Nombre: &nbsp;</label>
              <span *ngIf="nombre.touched">
                <ng-container
                  *ngIf="nombre.valid; then valido; else invalido"
                ></ng-container>
              </span>
              <input
                type="text"
                formControlName="nombre"
                placeholder="Nombre"
                class="form-control"
                [ngClass]="{
                  'border-danger': nombre.touched && nombre.invalid
                }"
              />
              <small
                *ngIf="nombre.touched && nombre.invalid"
                class="text-danger"
              >
                Ingrese el Nombre (3-45 caracteres)
              </small>
            </div>
          </div>
          <!-- Fin: Apellido y Nombre -->
          <!-- Inputs y Validaciones: Dirección y Teléfono -->
          <div class="form-row">
            <div class="form-group col-md-7">
              <label for="direccion" class="col-form-label"
                >Dirección: &nbsp;</label
              >
              <span *ngIf="direccion.touched">
                <ng-container
                  *ngIf="direccion.valid; then valido; else invalido"
                ></ng-container>
              </span>
              <input
                type="text"
                formControlName="direccion"
                placeholder="Dirección"
                class="form-control"
                [ngClass]="{
                  'border-danger': direccion.touched && direccion.invalid
                }"
              />
              <small
                *ngIf="direccion.touched && direccion.invalid"
                class="text-danger"
              >
                Ingrese la Dirección (5-50 caracteres)
              </small>
            </div>
            <div class="form-group col-md-5">
              <label for="telefono" class="col-form-label"
                >Nro. Teléfono: &nbsp;</label
              >
              <span *ngIf="telefono.touched">
                <ng-container
                  *ngIf="telefono.valid; then valido; else invalido"
                ></ng-container>
              </span>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'border-danger': telefono.touched && telefono.invalid
                }"
                formControlName="telefono"
                placeholder="351-55556666"
              />
              <small
                *ngIf="telefono.touched && telefono.invalid"
                class="text-danger"
              >
                Ingrese un Teléfono (dígitos, + y -)
              </small>
            </div>
          </div>
          <!-- Fin Dirección y Teléfono -->
          <!-- Inputs Opcionales: Email y Fecha de Nacimiento -->
          <div class="form-row">
            <div class="form-group col-md-7">
              <label for="email" class="col-form-label"
                >Correo Electrónico: &nbsp;</label
              >
              <span *ngIf="email.dirty">
                <ng-container
                  *ngIf="email.valid; then valido; else invalido"
                ></ng-container>
              </span>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'border-danger': email.dirty && email.invalid
                }"
                formControlName="email"
                placeholder="usuario@correo.com"
              />
              <small *ngIf="email.dirty && email.invalid" class="text-danger">
                Ingrese una dirección de e-mail válida o deje en blanco
              </small>
            </div>
            <div class="form-group col-md-5">
              <label for="fecha_nac" class="col-form-label"
                >Fecha de Nacimiento: &nbsp;</label
              >
              <span *ngIf="fecha_nac.dirty">
                <ng-container
                  *ngIf="fecha_nac.valid; then valido; else invalido"
                ></ng-container>
              </span>
              <input
                [owlDateTime]="fechaNac"
                [owlDateTimeTrigger]="fechaNac"
                [min]="fechaMin"
                [max]="fechaMax"
                class="form-control"
                formControlName="fecha_nac"
                placeholder="Fecha de Nacimiento"
              />
              <owl-date-time
                [pickerType]="'calendar'"
                [startView]="'multi-years'"
                #fechaNac
              ></owl-date-time>
            </div>
          </div>
          <!-- Fin Opcionales: Email y Fecha de Nacimiento -->

          <div *ngIf="editar" class="form-group row">
            <div class="col-sm-6">
              <button
                type="button"
                *ngIf="!nuevo"
                (click)="cancelEdit()"
                class="btn btn-secondary btn-block"
              >
                Descartar cambios
              </button>
              <button
                *ngIf="nuevo"
                type="reset"
                class="btn btn-secondary btn-block"
              >
                Limpiar campos
              </button>
            </div>
            <div class="col-sm-6">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="datosPersona.invalid"
              >
                <i class="fas fa-save"></i>
                &nbsp; Guardar cambios...
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<!-- Templates para mostrar en validación del Formulario -->
<ng-template #valido>
  <i class="fas fa-check-circle text-success"></i>
</ng-template>
<ng-template #invalido>
  <i class="fas fa-times-circle text-danger"></i>
</ng-template>
