<div class="container shadow p-3 mb-3 rounded">
  <div class="row justify-content-center">
    <div class="col-md-11">
      <form [formGroup]="datosPersona" (ngSubmit)="confirmaGuardado()">
        <fieldset [disabled]="!editar">
          <!-- Inputs y Validaciones: Apellido y Nombre -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="apellido" class="col-form-label"
                >Apellido: &nbsp;<span *ngIf="apellido.touched">
                  <i
                    *ngIf="apellido.valid"
                    class="fas fa-check-circle text-success"
                  ></i>
                  <i
                    *ngIf="apellido.invalid"
                    class="fas fa-times-circle text-danger"
                  ></i>
                </span>
              </label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'border-danger': apellido.touched && apellido.invalid
                }"
                formControlName="apellido"
                placeholder="Apellido"
              />
              <small
                *ngIf="apellido.invalid && apellido.touched"
                class="text-danger"
              >
                Ingrese el Apellido (3-40 caracteres)
              </small>
            </div>
            <div class="form-group col-md-6">
              <label for="nombre" class="col-form-label">Nombre: &nbsp;</label>
              <span *ngIf="nombre.touched">
                <i
                  *ngIf="nombre.valid"
                  class="fas fa-check-circle text-success"
                ></i>
                <i
                  *ngIf="nombre.invalid"
                  class="fas fa-times-circle text-danger"
                ></i>
              </span>
              <input
                type="text"
                formControlName="nombre"
                placeholder="Nombre"
                class="form-control"
                [ngClass]="{
                  'border-danger': nombre.invalid && nombre.touched
                }"
              />
              <small
                *ngIf="nombre.invalid && nombre.touched"
                class="text-danger"
              >
                Ingrese el Nombre (3-45 caracteres)
              </small>
            </div>
          </div>
          <!-- Fin: Apellido y Nombre -->
          <!-- Inputs y Validaciones: Dirección y Teléfono -->
          <div class="form-row">
            <div class="form-group col-md-7">
              <label for="direccion" class="col-form-label"
                >Dirección: &nbsp;</label
              >
              <span *ngIf="direccion.touched">
                <i
                  *ngIf="direccion.valid"
                  class="fas fa-check-circle text-success"
                ></i>
                <i
                  *ngIf="direccion.invalid"
                  class="fas fa-times-circle text-danger"
                ></i>
              </span>
              <input
                type="text"
                formControlName="direccion"
                placeholder="Dirección"
                class="form-control"
                [ngClass]="{
                  'border-danger': direccion.invalid && direccion.touched
                }"
              />
              <small
                *ngIf="direccion.invalid && direccion.touched"
                class="text-danger"
              >
                Ingrese la Dirección (5-50 caracteres)
              </small>
            </div>
            <div class="form-group col-md-5">
              <label for="telefono" class="col-form-label"
                >Nro. Teléfono: &nbsp;</label
              >
              <span *ngIf="telefono.touched">
                <i
                  *ngIf="telefono.valid"
                  class="fas fa-check-circle text-success"
                ></i>
                <i
                  *ngIf="telefono.invalid"
                  class="fas fa-times-circle text-danger"
                ></i>
              </span>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'border-danger': telefono.invalid && telefono.touched
                }"
                formControlName="telefono"
                placeholder="351-55556666"
              />
              <small
                *ngIf="telefono.invalid && telefono.touched"
                class="text-danger"
              >
                Ingrese un Teléfono (dígitos, + y -)
              </small>
            </div>
          </div>
          <!-- Fin Dirección y Teléfono -->
          <!-- Inputs Opcionales: Email y Fecha de Nacimiento -->
          <div class="form-row">
            <div class="form-group col-md-7">
              <label for="email" class="col-form-label"
                >Correo Electrónico: &nbsp;</label
              >
              <span *ngIf="email.dirty">
                <i
                  *ngIf="email.valid"
                  class="fas fa-check-circle text-success"
                ></i>
                <i
                  *ngIf="email.invalid"
                  class="fas fa-times-circle text-danger"
                ></i>
              </span>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'border-danger': email.invalid && email.dirty
                }"
                formControlName="email"
                placeholder="usuario@correo.com"
              />
              <small *ngIf="email.invalid && email.dirty" class="text-danger">
                Debe ingresar una dirección de e-mail válida
              </small>
            </div>
            <div class="form-group col-md-5">
              <label for="fecha_nac" class="col-form-label"
                >Fecha de Nacimiento: &nbsp;</label
              >
              <span *ngIf="fecha_nac.dirty">
                <i
                  *ngIf="fecha_nac.valid"
                  class="fas fa-check-circle text-success"
                ></i>
                <i
                  *ngIf="fecha_nac.invalid"
                  class="fas fa-times-circle text-danger"
                ></i>
              </span>
              <input
                [owlDateTime]="fechaNac"
                [owlDateTimeTrigger]="fechaNac"
                [max]="fechaMax"
                class="form-control"
                formControlName="fecha_nac"
                placeholder="Fecha de Nacimiento"
              />
              <owl-date-time
                [pickerType]="'calendar'"
                #fechaNac
              ></owl-date-time>
            </div>
          </div>
          <!-- Fin Opcionales: Email y Fecha de Nacimiento -->

          <!--
            </div>
            <label for="fecha_nac" class="col-md-2 col-form-label"
              >F. Nac.</label
            >
            <div class="col-md-4">
              <input
                type="date"
                class="form-control"
                formControlName="fecha_nac"
              />
            </div>
          </div> -->

          <div *ngIf="editar" class="form-group row">
            <div class="col-sm-6">
              <button
                *ngIf="!nuevo"
                (click)="cancelEdit()"
                class="btn btn-secondary btn-block"
              >
                Descartar cambios
              </button>
              <button
                *ngIf="nuevo"
                type="reset"
                class="btn btn-secondary btn-block"
              >
                Limpiar campos
              </button>
            </div>
            <div class="col-sm-6">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="datosPersona.invalid"
              >
                <i class="fas fa-save"></i>
                &nbsp; Guardar cambios...
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
