<div class="container mb-3 rounded">
  <div class="card animate__animated animate__pulse animate__faster">
    <div class="card-header-form">
      <div class="row">
        <div class="col-md-9 h4 m-2 align-self-center text-center text-white">
          Nuevo Viaje:&nbsp;
          <span class="badge badge-warning">{{
            tipo | nomElem: "tipo_viaje_id":tiposViaje
          }}</span>
        </div>
        <div class="col-md-2 m-2 align-self-center">
          <button
            class="btn btn-block btn-outline-warning"
            (click)="cancelarViaje()"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
    <div class="card-body back-form shadow-effect">
      <form [formGroup]="datosViaje" (ngSubmit)="confirmaGuardado()">
        <fieldset>
          <div class="container-fluid">
            <div class="row">
              <ng-container
                *ngIf="tipo == 2 && asignaPendiente == null; then registroPendiente; else registroJornada"
              ></ng-container>
              <!-- Selector de Fecha y Hora de Registro Viaje Pendiente-->
              <ng-template #registroPendiente>
                <div class="form-group col-md-3 offset-md-1">
                  <label for="registrado" class="col-form-label"
                    >Fecha/Hora Registro:</label
                  >
                  <div>
                    <input
                      [owlDateTime]="horaRegistro"
                      [owlDateTimeTrigger]="horaRegistro"
                      [min]="fechaMin"
                      [max]="fechaMax"
                      class="form-control"
                      formControlName="registrado"
                      placeholder="Fecha y Hora del Viaje"
                    />
                    <owl-date-time #horaRegistro></owl-date-time>
                  </div>
                  <div
                  *ngIf="
                    registradoEn.invalid && (registradoEn.dirty || registradoEn.touched)
                  "
                  class="text-danger"
                >
                  Seleccione Fecha y Hora
                </div>
                </div>
              </ng-template>
              <!-- Selector de Movil Viaje Normal -->
              <ng-template #registroJornada>
                <div class="form-group col-md-4">
                  <label for="jornada_id" class="col-form-label"
                    >Movil / Chofer:</label
                  >
                  <div>
                    <select class="form-control" formControlName="jornada_id">
                      <option value="0">-- Seleccione uno --</option>
                      <option
                        *ngFor="let mov of listaMovilesJornadas"
                        [value]="mov.jornada_id"
                      >
                        Mov. {{ mov.nro_interno }} -
                        {{
                          mov.chofer_id
                            | nombreCompleto: "chofer_id":listaChoferes
                        }}
                      </option>
                    </select>
                    <div
                      *ngIf="
                        jornada.invalid && (jornada.dirty || jornada.touched)
                      "
                      class="text-danger"
                    >
                      Seleccione un Móvil
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- Selector de Fecha y Hora de Viaje Realizado o Programado-->
              <div class="form-group col-md-3">
                <label for="fecha_hora" class="col-form-label"
                  >Fecha/Hora Viaje:</label
                >
                <div>
                  <input
                    [owlDateTime]="horaViaje"
                    [owlDateTimeTrigger]="horaViaje"
                    [min]="fechaMin"
                    [max]="fechaMax"
                    class="form-control"
                    formControlName="fecha_hora"
                    placeholder="Fecha y Hora del Viaje"
                  />
                  <owl-date-time #horaViaje></owl-date-time>
                </div>
                <div
                  *ngIf="
                    fechaHora.invalid && (fechaHora.dirty || fechaHora.touched)
                  "
                  class="text-danger"
                >
                  Seleccione Fecha y Hora
                </div>
              </div>
              <!-- Inputs de Direccion y Altura-->
              <div class="form-group col-md-5">
                <label for="origen_nombre" class="col-form-label">
                  Dirección / Altura:
                </label>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control col-md-9 d-inline-block"
                    formControlName="origen_nombre"
                    placeholder="Calle o Referencia"
                  />
                  <input
                    type="number"
                    class="form-control col-md-3 d-inline-block"
                    formControlName="origen_altura"
                    value="0"
                  />
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <!-- Input de Observaciones -->
              <div class="form-group col-md-7">
                <label for="origen_nombre" class="col-form-label">
                  Observaciones (opcional)
                </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="observaciones"
                  placeholder="Cualquier anotación que considere pertinente"
                />
              </div>
              <div class="form-group col-md-5 align-self-end">
                <button
                  type="submit"
                  class="btn btn-primary btn-block"
                  [disabled]="datosViaje.invalid"
                >
                  <i
                    [ngClass]="
                      loading ? 'fas fa-sync-alt fa-spin' : 'fas fa-taxi'
                    "
                  ></i>
                  &nbsp;

                  <span *ngIf="!loading">
                    Guardar Viaje
                    {{ tipo | nomElem: "tipo_viaje_id":tiposViaje }}
                  </span>
                  <span *ngIf="loading"> Guardando...</span>
                </button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

