<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.9)"
  size="medium"
  color="#f5627c"
  type="ball-atom"
  [fullScreen]="true"
  [name]="nombreComponente"
  ><p style="color: white">Cargando...</p></ngx-spinner
>

<!-- Inicio componente -->
<div *ngIf="!loading" class="container-fluid p-3 mb-3 rounded">
  <div class="row">
    <div class="col-md-5">
      <div class="card animate__animated animate__fadeInLeft animate__faster">
        <div class="card-header-list">
          <div class="h4 m-3 px-3 text-center text-white clearfix">
            Adherentes Registrados
            <button
              *ngIf="isAdmin || isManager"
              class="float-right w-25 btn btn-sm btn-success"
              [routerLink]="['nuevo']"
            >
              <i class="fas fa-user-plus"></i>
              &nbsp; Nuevo...
            </button>
          </div>
        </div>
        <div class="card-body back-form shadow-effect">
          <!-- Contenido -->
          <div *ngIf="errorMessage === ''" class="table-responsive">
            <table class="table table-hover">
              <thead class="list-group-item-secondary">
                <tr>
                  <th scope="col" class="text-nowrap">
                    <i
                      class="fas fa-sort"
                      role="button"
                      (click)="ordenarPor('apellido')"
                    ></i>
                    &nbsp;Apellido
                  </th>
                  <th scope="col" class="text-nowrap">
                    <i
                      class="fas fa-sort"
                      role="button"
                      (click)="ordenarPor('nombre')"
                    ></i>
                    &nbsp;Nombre
                  </th>
                  <th scope="col" class="text-nowrap">
                    <i
                      class="fas fa-sort"
                      role="button"
                      (click)="ordenarPor('moviles_activos')"
                    ></i>
                    &nbsp;Móviles
                  </th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let adh of lista">
                  <th scope="row">{{ adh.apellido }}</th>
                  <td>{{ adh.nombre }}</td>
                  <td class="text-center">{{ adh.moviles_activos }}</td>
                  <td>
                    <a
                      class="btn btn-sm btn-warning text-nowrap"
                      (click)="savePosition($event)"
                      [routerLink]="['detalle', adh.adherente_id]"
                      ><i class="fas fa-info-circle"></i>&nbsp; Detalles</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Fin Contenido -->
          <!-- Mensajes de Error -->
          <app-error
            *ngIf="errorMessage !== ''"
            [origin]="nombreComponente"
            [errorMessage]="errorMessage"
          ></app-error>
          <!-- Fin Mensajes de Error -->
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <!-- Aquí se renderiza la ruta hija -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
