<div class="container-fluid mb-3 rounded">
  <div class="card animate__animated animate__fadeIn">
    <div class="card-header-form">
      <div class="h4 m-3 px-3 text-center text-white clearfix">
        <button class="float-left btn btn-sm btn-outline-warning" [routerLink]="['/adherentes']">
          Cancelar
        </button>
        Alta Nuevo Adherente
      </div>
      
    </div>
    <div class="card-body back-form shadow-effect">
      <app-form-persona
        [nuevo]="true"
        (emitPersona)="listenNuevo($event)"
      ></app-form-persona>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="anterior"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    ></div>

    <ng-template id="extraInfo" #extraInfo let-modal>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            Datos Adicionales de {{ persona.apellido }} {{ persona.nombre }}
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="modal.dismiss('Cross')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container justify-content-between">
            <form [formGroup]="newAdherente">
              <div class="form-group row">
                <label for="alias" class="col-form-label"
                  >Observaciones:
                </label>

                <textarea
                  class="form-control"
                  formControlName="observaciones"
                  maxlength="300"
                  rows="3"
                ></textarea>
                <small id="helpId" class="text-muted"
                  >Información extra que considere pertinente</small
                >
              </div>
            </form>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="modal.dismiss('Cancelado')"
          >
            Cancelar
          </button>
          <button
            type="button"
            (click)="confirmaGuardado()"
            class="btn btn-primary"
          >
            <!-- <button type="button" (click)=" modal.close('Guardado')" class="btn btn-primary"> -->
            <i
              [ngClass]="loading ? 'fas fa-sync-alt fa-spin' : 'fas fa-save'"
            ></i>
            <span *ngIf="!loading"> Guardar Adherente</span>
            <span *ngIf="loading"> Guardando...</span>
          </button>
        </div>
      </div>
    </ng-template>
    <!-- </div> -->
  </div>
</div>
