<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(233, 236, 239, 0.1)"
  size="medium"
  color="#f5627c"
  type="line-scale-pulse-out"
  [fullScreen]="false"
  [name]="nombreComponente"
  ><p style="color: black; font-weight: bold">Cargando...</p></ngx-spinner
>

<!-- Inicio componente -->
<div class="container-fluid mb-3 rounded content-sticky" #inicio>
  <!-- Contenido -->
  <div *ngIf="ready && errorMessage == ''" class="row">
    <div class="col">
      <div class="card animate__animated animate__fadeIn">
        <div class="card-header-form">
          <div class="h4 m-3 px-3 text-center text-white clearfix">
            <button
              class="float-left btn btn-sm btn-warning"
              [routerLink]="['/adherentes']"
            >
              <i class="fas fa-angle-double-left"></i>
            </button>
            Detalles
            <button
              (click)="activarEdicion()"
              class="float-right ml-3 w-25 btn btn-sm btn-info"
              [disabled]="!isAdmin && !isManager"
            >
              <i class="fas fa-id-card"></i>
              &nbsp; Editar
            </button>
            <button
              type="button"
              #toggleModal
              id="toggleModal"
              data-toggle="modal"
              data-target="#editExtra"
              class="float-right ml-3 w-25 btn btn-sm btn-info"
              [disabled]="!isAdmin && !isManager"
            >
              <i class="fas fa-id-card-alt"></i>
              &nbsp; Extra
            </button>
          </div>
        </div>
        <div class="card-body back-form shadow-effect">
          <!-- Aquí se renderiza el componente con el form datosPersona -->
          <app-form-persona
            [persona]="persona"
            [editar]="editar"
            [nuevo]="false"
            (emitEstado)="editar = $event"
            (emitPersona)="listenPersona($event)"
          ></app-form-persona>
        </div>
      </div>
      <!-- Fin Contenido -->
    </div>
  </div>
  <!-- Mensajes de Error -->
  <div *ngIf="!loading && errorMessage != ''" class="row">
    <div class="col">
      <app-error
        [origin]="nombreComponente"
        [errorMessage]="errorMessage"
      ></app-error>
      <button
        class="
          btn btn-warning
          animate__animated animate__fadeIn animate__delay-1s
        "
        [routerLink]="['/adherentes']"
      >
        <i class="fas fa-angle-double-left"></i>
        &nbsp; Regresar
      </button>
    </div>
  </div>
  <!-- Fin Mensajes de Error -->
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="editExtra"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Editar Información Extra
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container justify-content-between">
          <form [formGroup]="editAdherente">
            <div class="form-group row">
              <label for="alias" class="col-form-label">Observaciones: </label>
              <textarea
                formControlName="observaciones"
                class="form-control"
                [ngClass]="{
                  'border-danger': observaciones.dirty && observaciones.invalid
                }"
                maxlength="300"
                rows="3"
              ></textarea>
              <small id="helpId" class="text-muted"
                >Información extra que considere pertinente</small
              >
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Descartar Cambios
        </button>
        <button
          type="button"
          #updateAdh
          (click)="confirmaGuardado()"
          class="btn btn-primary"
          [disabled]="loading || editAdherente.invalid"
        >
          <i
            [ngClass]="loading ? 'fas fa-sync-alt fa-spin' : 'fas fa-save'"
          ></i>
          <span *ngIf="!loading">&nbsp; Guardar Cambios</span>
          <span *ngIf="loading">&nbsp; Guardando...</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal -->
