<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="shadow-sm p-2 mb-2 fondo-titulo text-center rounded">
        <h4 *ngIf="loading">
          <i class="fas fa-spinner fa-pulse"></i> Cargando...
        </h4>
        <h4 *ngIf="!loading && errorMessage !== ''">{{ errorMessage }}</h4>
        <h4 *ngIf="!loading && errorMessage === ''">Choferes registrados</h4>
      </div>

      <table
        *ngIf="!loading && lista[0]['persona_id']"
        class="table table-hover table-responsive"
      >
        <thead class="thead-light">
          <tr>
            <th scope="col">Apellido</th>
            <th scope="col">Nombre</th>
            <th scope="col">Habilitado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chofer of lista">
            <th scope="row">{{ chofer.apellido }}</th>
            <td>{{ chofer.nombre }}</td>
            <td>{{ chofer.habilitado }}</td>
            <td>
              <a
                class="btn btn-sm btn-warning"
                [routerLink]="['detalle', chofer.chofer_id]"
                >Detalles</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
      <!-- Aquí se renderiza la ruta hija -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
