<ng-container [ngSwitch]="origin">
  <div *ngSwitchCase="'turno-dif-usuario'" class="error-solo d-flex align-items-center">
    <ng-container *ngTemplateOutlet="turnoVarios"></ng-container>
  </div>
  <div *ngSwitchCase="'turno-viajes-pln'" class="error-solo d-flex align-items-center">
    <ng-container *ngTemplateOutlet="turnoVarios"></ng-container>
  </div>
  <div *ngSwitchCase="'turno-jornadas-pln'" class="error-solo d-flex align-items-center">
    <ng-container *ngTemplateOutlet="turnoVarios"></ng-container>
  </div>
  <div *ngSwitchDefault class="error-embedded d-flex align-items-center">
    <ng-container *ngTemplateOutlet="errorVarios"></ng-container>
  </div>
</ng-container>
<!-- <div
  *ngIf="
    origin === 'adh_detalle' ||
    origin === 'chf_detalle' ||
    origin === 'usr_lista'
  "
  class="error-embedded d-flex align-items-center"
>
  <ng-container *ngTemplateOutlet="errorVarios"></ng-container>
</div> -->

<!-- ---- Diferentes templates ---- -->
<ng-template #turnoVarios>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card animate__animated animate__fadeIn">
          <div class="card-header-list">
            <div class="h4 m-3 px-3 text-center text-white clearfix">
              Error: {{ errorTitle }}
            </div>
          </div>
          <div class="card-body back-form shadow-effect">
            <div
              class="
                form-group
                align-middle
                alert alert-info
                animate__animated animate__fadeIn
              "
              role="alert"
            >
              <div class="text-center my-3" style="color: #4db8c8">
                <i
                  *ngIf="
                    origin === 'turno-jornadas-pln' ||
                    origin === 'turno-viajes-pln'
                  "
                  class="fas fa-business-time fa-7x"
                ></i>
                <i
                  *ngIf="origin === 'turno-dif-usuario'"
                  class="fas fa-user-shield fa-7x"
                ></i>
              </div>
              <h5 class="text-center my-3">
                {{ errorMessage }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #errorVarios>
  <div class="container-fluid">
    <div
      class="
        form-group
        align-middle
        alert alert-info
        animate__animated animate__fadeIn
      "
      role="alert"
    >
      <div class="text-center my-3" style="color: #4db8c8">
        <i class="far fa-folder-open fa-7x"></i>
        <i
          *ngIf="
            origin === 'usr_detalle' ||
            origin === 'adh_detalle' ||
            origin === 'chf_detalle' ||
            origin === 'mov_detalle' ||
            origin === 'chf_nuevo' ||
            origin === 'mov_nuevo'
          "
          class="fas fa-search-minus fa-4x"
        ></i
        >&nbsp;
        <i
          *ngIf="
            origin === 'usr_lista' ||
            origin === 'adh_lista' ||
            origin === 'chf_lista' ||
            origin === 'mov_lista' ||
            origin === 'form_turno'
          "
          class="far fa-file-excel fa-5x"
        ></i>
      </div>
      <h5 class="text-center my-3">
        {{ errorMessage }}
      </h5>
    </div>
  </div>
</ng-template>
