<p class="h2">Llegó al Error  !</p>

<ng-template #abrirTurno>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header-list">
              <div class="h4 m-3 text-center text-white">
                Error: No hay un turno Abierto
              </div>
            </div>
            <div class="card-body back-form shadow-effect">
              <h5>Para poder ver las Jornadas el Operador debe Abrir su Turno</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>