<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.9)"
  size="default"
  color="#f5627c"
  type="timer"
  [fullScreen]="true"
  name="form_turno"
  ><p style="color: white">Espere...</p></ngx-spinner
>

<!-- Contenido -->

<div *ngIf="ready" class="container shadow p-3 mt-5 rounded">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header-list">
          <div class="h4 m-3 text-center text-white">
            Ultimos {{ cantTurnos }} turnos
          </div>
        </div>
        <div class="card-body back-form shadow-effect">
          <!-- Selector de Cantidad -->
          <div class="form-group row">
            <label class="col-form-label col-5">Mostrar los últimos:</label>
            <div class="col-4">
              <select #selectCant class="form-control" (change)="cambiaCant(selectCant)">
                <option value="2">2 turnos</option>
                <option value="5" selected>5 turnos</option>
                <option value="10">10 turnos</option>
                <option value="15">15 turnos</option>
                <option value="20">20 turnos</option>
              </select>
            </div>
          </div>
          <div class="box-tabla">
            <div class="cont-tabla">
              <table
                *ngIf="errorMessage == ''"
                class="table table-striped table-responsive"
              >
                <thead class="thead-light">
                  <tr>
                    <th>Usuario</th>
                    <th>Iniciado en</th>
                    <th>Cerrado en</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let turno of ultTurnos">
                    <td scope="row">{{ turno.alias }}</td>
                    <td>{{ turno.hora_inicio | date: "dd/MM/YYYY HH:mm" }}</td>
                    <td>{{ turno.hora_cierre | date: "dd/MM/YYYY HH:mm" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div
            *ngIf="errorMessage != ''"
            class="form-group alert alert-danger"
            role="alert"
          >
            <h5 class="text-center">{{ errorMessage }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-header-form">
          <div class="h4 m-3 text-center text-white">Información del Turno</div>
        </div>
        <div class="card-body back-form shadow-effect">
          <form [formGroup]="datosTurno">
            <fieldset>
              <div class="container">
                <div class="row">
                  <div *ngIf="abreTurno" class="form-group col-sm-6">
                    <label for="inicio" class="col-form-label"
                      >Fecha y Hora del Nuevo Turno:</label
                    >
                    <input
                      [owlDateTime]="inicio"
                      [owlDateTimeTrigger]="inicio"
                      [min]="turno.hora_cierre"
                      formControlName="hora_inicio"
                      class="form-control"
                      placeholder="Fecha y Hora Inicio"
                    />
                    <owl-date-time
                      [startAt]="turno.hora_cierre"
                      #inicio
                    ></owl-date-time>
                  </div>
                  <div *ngIf="!abreTurno" class="form-group col-sm-6">
                    <label for="inicio" class="col-form-label"
                      >Fecha y Hora de Cierre del Turno:</label
                    >
                    <input
                      [owlDateTime]="cierre"
                      [owlDateTimeTrigger]="cierre"
                      [min]="turno.hora_inicio"
                      formControlName="hora_cierre"
                      class="form-control"
                      placeholder="Fecha y Hora Cierre"
                    />
                    <owl-date-time
                      [startAt]="turno.hora_inicio"
                      #cierre
                    ></owl-date-time>
                  </div>
                  <div class="col-sm-6">
                    <h3 class="text-center">Usuario actual:</h3>
                    <h3 class="font-weight-bold text-center">
                      {{ userLogged.alias }}
                    </h3>
                    <hr />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="observaciones" class="col-form-label"
                      >Observaciones:
                    </label>
                    <textarea
                      class="form-control"
                      formControlName="observaciones"
                      maxlength="300"
                      rows="3"
                    ></textarea>
                  </div>
                  <div class="col-sm-6">
                    <br />
                    <div *ngIf="abreTurno">
                      <h4 class="text-center">Cierre Turno anterior:</h4>
                      <h5 class="text-center">
                        {{ turno.hora_cierre | date: "dd/MM/YYYY HH:mm" }}
                      </h5>
                    </div>
                    <div *ngIf="!abreTurno && ultTurnos.length > 0">
                      <h4 class="text-center">Turno actual:</h4>
                      <h4 class="font-weight-bold text-center">
                        {{ ultTurnos[0]["alias"] }}
                      </h4>
                      <h5 class="text-center">
                        {{ turno.hora_inicio | date: "dd/MM/YYYY HH:mm" }}
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <button
                      type="button"
                      (click)="datosTurno.valid && saveTurno(abreTurno)"
                      class="btn btn-block btn-primary"
                      [disabled]="loading"
                    >
                      <i
                        [ngClass]="
                          loading
                            ? 'fas fa-sync-alt fa-spin'
                            : 'fas fa-business-time'
                        "
                      ></i>
                      {{ loading ? "Guardando..." : textoBoton }}
                    </button>
                  </div>
                  <div class="col-sm-2"></div>
                  <div class="col">
                    <button
                      class="btn btn-block btn-secondary"
                      (click)="cancelarForm()"
                    >
                      Cancelar
                    </button>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
