<div class="container">
  <div class="row">
    <div class="col-md-5">
      <table
        *ngIf="lista.length > 0"
        class="table table-hover table-responsive"
      >
        <thead class="thead-light">
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of lista">
            <th scope="row">{{ user.alias }}</th>
            <td>{{ user.nombre }}</td>
            <td>{{ user.rol }}</td>
            <td> <a [routerLink]="[ 'detalle', user.usuario_id ]">Detalles</a> </td>
            <!-- <td> <a [editar]="edicion" [routerLink]="[ 'detalle', user.usuario_id ]">Detalles</a> </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


