<div class="container-fluid mb-3 rounded">
  <div class="card">
    <div class="card-header-form">
      <div class="row">
        <div class="col-md-5 h4 mt-3 text-center text-white">
          Detalles
        </div>
        <div class="col-md-3 mt-2">
          <button (click)="activarEdicion()" class="btn btn-info btn-block">
            <i class="fas fa-id-card"></i>
            Editar
          </button>
        </div>
        <div class="col-md-3 mt-2">
          <button
            type="button"
            data-toggle="modal"
            data-target="#editUsuario"
            class="btn btn-success btn-block"
          >
            <i class="fas fa-user-edit"></i>Usuario
          </button>
        </div>
      </div>
    </div>
    <div class="card-body back-form shadow-effect">
      <!-- Aquí se renderiza el componente con el form datosPersona -->
      <app-form-persona
        [persona]="persona"
        [editar]="editar"
        [nuevo]="false"
        (emitEstado)="editar = $event"
        (emitPersona)="listenPersona($event)"
      ></app-form-persona>
    </div>
  </div>
</div>

<pre> Usuario logueado es Admin: {{ isAdmin }}</pre>

<!-- Modal -->
<div
  class="modal fade"
  id="editUsuario"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Editar Datos de Usuario
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container justify-content-between">
          <form [formGroup]="editUsuario">
            <div class="form-group row">
              <label for="rol_id" class="col-sm-3 col-form-label"
                >Rol Usuario:
              </label>
              <div *ngIf="!isAdmin" class="col-sm-9">
                <select class="form-control" formControlName="rol_id">
                  <option [value]="usuario.rol_id">
                    {{ rolNombre }}
                  </option>
                </select>
              </div>
              <div *ngIf="isAdmin" class="col-sm-9">
                <select
                  class="form-control"
                  formControlName="rol_id"
                  [disabled]="!isAdmin"
                >
                  <option
                    *ngFor="let rol of roles"
                    [value]="rol.rol_id"
                    [selected]="rol.rol_id == usuario.rol_id"
                  >
                    {{ rol.nombre }}
                  </option>
                </select>
                <small id="helpId" class="text-muted">Rol de Usuario</small>
              </div>
            </div>
            <div class="form-group row">
              <label for="alias" class="col-sm-3 col-form-label"
                >Username:
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  formControlName="alias"
                  class="form-control"
                  aria-describedby="helpId"
                />
                <small id="helpId" class="text-muted">Nombre de Usuario</small>
              </div>
            </div>
            <!-- <div class="form-group row">
              <label for="alias" class="col-sm-3 col-form-label"
                >Password Actual:
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  formControlName="passwordAnterior"
                  class="form-control"
                  aria-describedby="helpId"
                />
                <small id="helpId" class="text-muted">Password Anterior</small>
              </div>
            </div> -->
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" (click)="logUsEdit()" class="btn btn-primary">
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>
