<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(233, 236, 239, 0.1)"
  size="medium"
  color="#f5627c"
  type="line-scale-pulse-out"
  [fullScreen]="false"
  [name]="nombreComponente"
  ><p style="color: black; font-weight: bold">Cargando...</p></ngx-spinner
>

<div class="container-fluid mb-3 rounded content-sticky" #inicio>
  <!-- Contenido -->
  <div *ngIf="ready && errorMessage == ''" class="row">
    <div class="col">
      <div class="card animate__animated animate__fadeIn">
        <div class="card-header-form">
          <div class="h4 m-3 px-3 text-center text-white clearfix">
            <button
              class="float-left btn btn-sm btn-warning"
              [routerLink]="['/moviles']"
            >
              <i class="fas fa-angle-double-left"></i>
            </button>
            Detalles
            <button
              *ngIf="isAdmin || isManager" 
              (click)="activarEdicion()"
              class="float-right ml-3 w-25 btn btn-sm btn-info"              
            >
              <i class="fas fa-taxi"></i>
              &nbsp; Editar
            </button>
          </div>
        </div>
        <div class="card-body back-form shadow-effect">
          <!-- Aquí se renderiza el componente con el form datosMovil -->

          <app-form-movil
            [movil]="movil"
            [editar]="editar"
            [nuevo]="nuevo"
            [loading]="loading"
            [listaAdherentes]="listaAdherentes"
            [listaChoferes]="listaChoferes"
            [listaTipos]="listaTipos"
            (emitEstado)="editar = $event"
            (emitMovil)="listenMovil($event)"
          ></app-form-movil>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Contenido -->
  <!-- Mensajes de Error -->
  <div *ngIf="!loading && errorMessage != ''" class="row">
    <div class="col">
      <app-error
        [origin]="nombreComponente"
        [errorMessage]="errorMessage"
      ></app-error>      
    </div>
  </div>
  <!-- Fin Mensajes de Error -->
</div>
