<div *ngIf="ready && errorMessage == ''" class="container-fluid mb-3 rounded">
  <div class="card animate__animated animate__fadeIn">
    <div class="card-header-form">
      <div class="h4 m-3 px-3 text-center text-white clearfix">
        <button
          class="float-left btn btn-sm btn-outline-warning"
          [routerLink]="['/moviles']"
        >
          Cancelar
        </button>
        Alta de Nuevo Móvil
      </div>      
    </div>
    <div class="card-body back-form shadow-effect">
      <app-form-movil
        [nuevo]="nuevo"
        [listaAdherentes]="listaAdherentes"
        [listaChoferes]="listaChoferes"
        [listaTipos]="listaTipos"
        (emitMovil)="listenMovil($event)"
      ></app-form-movil>
    </div>
  </div>
</div>
