<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(233, 236, 239, 0.1)"
  size="medium"
  color="#f5627c"
  type="ball-circus"
  [fullScreen]="false"
  name="movil_detalle"
  ><p style="color: black; font-weight: bold">Cargando...</p></ngx-spinner
>

<!-- Contenido -->
<div *ngIf="!loading" class="container-fluid mb-3 rounded">
  <div class="card">
    <div class="card-header-form">
      <div class="row">
        <div class="col-md-8 h4 mt-3 text-center text-white">Detalles</div>
        <div class="col-md-3 mt-2">
          <button (click)="activarEdicion()" class="btn btn-info btn-block">
            <i class="fas fa-taxi"></i>
            Editar
          </button>
        </div>
      </div>
    </div>
    <div class="card-body back-form shadow-effect">
      <!-- Aquí se renderiza el componente con el form datosMovil -->
      <div class="container-fluid">
        <div class="row justify-content-center">
          <app-form-movil
            [movil]="movil"
            [editar]="editar"
            [nuevo]="false"
            (emitEstado)="editar = $event"
            (emitMovil)="listenMovil($event)"
          ></app-form-movil>
        </div>
      </div>
    </div>
  </div>
</div>
