<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.9)"
  size="medium"
  color="#f5627c"
  type="ball-atom"
  [fullScreen]="true"
  [name]="nombreComponente"
  ><p style="color: white">Cargando...</p></ngx-spinner
>

<!-- Inicio componente -->
<div *ngIf="!loading" class="container-fluid p-3 mb-3 rounded">
  <div class="row">
    <div class="col-md-5">
      <div class="card animate__animated animate__fadeInLeft animate__faster">
        <div class="card-header-list">
          <div class="h4 m-3 px-3 text-center text-white clearfix">
            Móviles Registrados
            <button              
              class="float-right w-25 btn btn-sm btn-success"
              [routerLink]="['nuevo']"
            >
              <i class="fas fa-taxi"></i>
              <i class="fas fa-plus fa-xs"></i>
              &nbsp; Nuevo...
            </button>
          </div>
        </div>
        <div class="card-body back-form shadow-effect">
          <!-- Contenido -->
          <div *ngIf="errorMessage === ''" class="table-responsive">
            <table class="table table-hover">
              <thead class="list-group-item-secondary">
                <tr>
                  <th scope="col" class="text-nowrap">
                    <i
                      class="fas fa-sort"
                      role="button"
                      (click)="ordenarPor('tipo_movil_id')"
                    ></i>
                    Tipo
                  </th>
                  <th
                    scope="col"
                    class="text-center text-nowrap"
                    style="width: 50px"
                  >
                    <i
                      class="fas fa-sort"
                      role="button"
                      (click)="ordenarPor('nro_interno')"
                    ></i>
                    Móv.
                  </th>
                  <th
                    scope="col"
                    class="text-center text-nowrap"
                    style="width: 50px"
                  >
                    <i
                      class="fas fa-sort"
                      role="button"
                      (click)="ordenarPor('nro_habilitacion')"
                    ></i>
                    Chapa
                  </th>
                  <th scope="col" class="text-nowrap">
                    <i
                      class="fas fa-sort"
                      role="button"
                      (click)="ordenarPor('adherente')"
                    ></i>
                    Adherente
                  </th>
                  <th scope="col" class="text-nowrap">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let movil of lista">
                  <ng-template #tipContent
                    >{{ movil.marca }} {{ movil.modelo }}</ng-template
                  >
                  <td scope="row">{{ movil.tipo }}</td>
                  <td
                    class="font-weight-bold text-center"
                    [ngbTooltip]="tipContent"
                  >
                    {{ movil.nro_interno | number: "2.0-0" }}
                  </td>
                  <td class="text-center">
                    {{ movil.nro_habilitacion | number: "3.0-0" }}
                  </td>
                  <td>{{ movil.adherente }}</td>
                  <td>
                    <a
                      (click)="savePosition($event)"  
                      class="btn btn-sm btn-warning text-nowrap"
                      [routerLink]="['detalle', movil.movil_id]"
                      ><i class="fas fa-info-circle"></i>&nbsp; Detalles</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Fin Contenido -->
          <!-- Mensajes de Error -->
          <app-error
            *ngIf="errorMessage !== ''"
            [origin]="nombreComponente"
            [errorMessage]="errorMessage"
          ></app-error>
          <!-- Fin Mensajes de Error -->
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <!-- Aquí se renderiza la ruta hija -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
