/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
  background-color: hsl(59 92% 71%) !important;
  /* background-color: #fbee5d !important; */
  padding-bottom: 50px;
}

textarea {
  resize: none !important;
}

/* Colores */
.fondo-navbar {
  background-color: #243e58 !important;
}

.fondo-titulo {
  /* background-color: #f4f123 !important; */
  background-color: #fbee5d !important;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
