<div
  class="container-fluid shadow-sm p-3 mb-2 fondo-titulo rounded"
  data-aos="fade-in"
>
  <div class="row justify-content-center text-center">
    <div class="col col-lg-6">
      <h2 id="saludo"></h2>
      <h3>Introduzca su información de Login</h3>
    </div>
  </div>
</div>
<div class="container" data-aos="fade-up">
  <div class="row justify-content-center">
    <div class="col col-lg-4 shadow p-3 mb-5 fondo-semitransp rounded">
      <form [formGroup]="forma" (ngSubmit)="logIn()">
        <div class="form-group">
          <label for="usuario" class="col-form-label">Usuario:</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'border-danger':
                !forma.get('usuario').valid && forma.get('usuario').touched
            }"
            formControlName="usuario"
            placeholder="Usuario"
          />
          <div
            *ngIf="
              forma.controls['usuario'].errors?.required &&
              forma.controls['usuario'].touched
            "
            class="text-danger"
          >
            Ingrese nombre de usuario
          </div>
        </div>

        <div class="form-group">
          <label for="pass" class="col-form-label">Password:</label>
          <input
            type="password"
            class="form-control"
            [ngClass]="{
              'border-danger':
                !forma.get('pass').valid && forma.get('pass').touched
            }"
            formControlName="pass"
            placeholder="Password"
          />
          <div *ngIf="forma.get('pass').touched" class="text-danger">
            <div *ngIf="forma.get('pass').errors?.required">
              Ingrese password
            </div>
            <div *ngIf="forma.get('pass').errors?.minlength">
              El password debe contener al menos {{ minChar }} caracteres
            </div>
          </div>
        </div>
        <div
          *ngIf="result['error']"
          class="form-group alert alert-danger"
          role="alert"
        >
          <small> {{ result["error"]["message"] }} </small>
        </div>

        <div class="form-group row">
          <div class="col-sm-6 offset-sm-6">
            <button
              type="submit"
              class="btn btn-primary btn-block"
              [disabled]="forma.invalid"
            >
              <i
                [ngClass]="
                  loading ? 'fas fa-sync-alt fa-spin' : 'fas fa-sign-in-alt'
                "
              ></i>
              <span *ngIf="!loading"> Verificar</span>
              <span *ngIf="loading"> Verificando...</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
