<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" [routerLink]="['home']">Inicio</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-start ml-4">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['alumnos']">Alumnos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#">Cursos</a>
      </li>
      <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Drop Down</a
          >
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Drop Down 2</a>
            <a class="dropdown-item" href="#">Drop Down 3</a>
            <a class="dropdown-item" href="#">Drop Down 4</a>
          </div>
        </li> -->
    </ul>
  </div>
  <div class="nav-item justify-content-end">
    <a
      class="nav-link btn btn-outline-light justify-content-end"
      [routerLink]="['usuarios', 'login']"
      >Login</a
    >
  </div>
</nav>
