<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.9)"
  size="medium"
  color="#f5627c"
  type="ball-atom"
  [fullScreen]="true"
  name="viaje_historico"
  ><p style="color: white">Cargando...</p></ngx-spinner
>

<ngx-spinner
  bdColor="rgba(233, 236, 239, 0.1)"
  size="medium"
  color="#9784ed"
  type="ball-scale-ripple-multiple"
  [fullScreen]="false"
  name="historico_detalle"
  ><p style="color: black; font-weight: bold">Espere...</p></ngx-spinner
>

<!-- Contenido -->
<div class="container-fluid p-3 mt-4 rounded">
  <!-- <div class="container-fluid p-3 mb-3 rounded"> -->
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="card animate__animated animate__fadeIn">
        <div class="card-header-list">
          <div class="h4 m-3 text-center text-white">
            <p>Listado Histórico de Viajes - por Rango de Fechas</p>
          </div>
        </div>
        <div class="card-body back-form shadow-effect">
          <div class="row">
            <div class="col-md-3">
              <form *ngIf="!filtering" #formRango="ngForm">
                <div class="h5 font-weight-bold text-center">Mostrando:</div>
                <div class="form-group">
                  <label for="rango" class="col-form-label"
                    >Desde Fecha/Hora: -- Hasta Fecha/Hora:</label
                  >
                  <input
                    [owlDateTime]="rango"
                    [owlDateTimeTrigger]="rango"
                    [selectMode]="'range'"
                    name="rangoFechas"
                    class="form-control"
                    placeholder="Rango Fechas..."
                    [(ngModel)]="desdeHasta"
                    (dateTimeChange)="cambioFecha($event)"
                  />
                  <owl-date-time #rango></owl-date-time>
                </div>
                <div class="form-group">
                  <label for="cant" class="col-form-label"
                    >Cantidad de Registros:</label
                  >
                  <input
                    type="number"
                    name="cant"
                    class="form-control"
                    [(ngModel)]="objQuery.cant"
                  />
                </div>
                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    [disabled]="!rangoValido"
                    (click)="actualizarRango()"
                  >
                    <i class="far fa-calendar-alt"></i>
                    &nbsp; Actualizar...
                  </button>
                </div>
              </form>
              <hr />

              <div
                class="
                  form-group
                  animate__animated animate__slideInUp animate__fast
                "
              >
                <button
                  type="button"
                  class="btn btn-info btn-block"
                  [disabled]="!rangoValido || listaViajesFechas[0]['error']"
                  (click)="mostrarFiltros()"
                >
                  <i
                    [ngClass]="
                      !filtering
                        ? 'fas fa-angle-double-up'
                        : 'fas fa-angle-double-down'
                    "
                  ></i>
                  &nbsp; Aplicar Filtros...
                </button>
              </div>
              <form
                *ngIf="filtering"
                class="animate__animated animate__slideInUp animate__faster"
                #formFiltro="ngForm"
              >
                <div class="form-group">
                  <label class="col-form-label">Filtrar por...</label>
                  <select
                    class="custom-select"
                    name="chofer"
                    [(ngModel)]="optFiltro.chofer"
                  >
                    <option value="" selected>-- Chofer --</option>
                    <option
                      *ngFor="let chofer of listaChoferes"
                      [value]="chofer.chofer_id"
                    >
                      {{ chofer.apellido }} {{ chofer.nombre }}
                    </option>
                  </select>
                </div>
                <div class="col-6">
                  <div
                    *ngFor="let estado of estadosViaje; let i = index"
                    class="form-check"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [name]="estado.nombre"
                      [(ngModel)]="optFiltro.estados[i].chk"                      
                    />
                    <label class="form-check-label">
                      {{ estado.nombre }}
                    </label>
                  </div>
                </div>
                <div class="col-6"></div>
              </form>
              <div>
                {{ optFiltro | json }}
              </div>
            </div>

            <div
              *ngIf="!loading && ready && errorMessage == ''"
              class="col-md-9 box-tabla"
            >
              <div
                *ngIf="errorMessage == '' && !loading"
                class="cont-tabla animate__animated animate__fadeIn"
              >
                <table class="table table-hover table-responsive table-sm">
                  <thead class="list-group-item-secondary">
                    <tr>
                      <th scope="col" class="align-middle">#</th>
                      <th scope="col" class="align-middle">Usuario</th>
                      <th scope="col" class="align-middle">Móvil</th>
                      <th scope="col" class="align-middle">Chofer</th>
                      <th scope="col" class="align-middle">Calle/Lugar</th>
                      <th scope="col" class="align-middle">Alt.</th>
                      <th scope="col" class="align-middle" style="width: 170px">
                        Fecha/Hora
                      </th>
                      <th scope="col" class="align-middle text-center">Tipo</th>
                      <th scope="col" class="align-middle text-center">
                        Estado
                      </th>
                      <th scope="col" class="align-middle text-center">
                        Observaciones
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let viaje of listaViajesFechas; let i = index">
                      <th
                        scope="row"
                        class="align-middle list-group-item-secondary"
                      >
                        {{ i + 1 }}
                      </th>
                      <th scope="row" class="align-middle text-center">
                        {{
                          viaje.usuario_id | nomElem: "usuario_id":listaUsuarios
                        }}
                      </th>
                      <th scope="row" class="align-middle text-center">
                        {{
                          viaje.movil_id | nroMovil: "nro_interno":listaMoviles
                        }}
                      </th>
                      <td class="align-middle">
                        {{
                          viaje.chofer_id
                            | nombreCompleto: "chofer_id":listaChoferes
                        }}
                      </td>
                      <td class="align-middle">{{ viaje.origen_nombre }}</td>
                      <td class="align-middle">{{ viaje.origen_altura }}</td>
                      <td class="align-middle">
                        {{ viaje.fecha_hora | date: "dd/MM/YYYY HH:mm'hs.'" }}
                      </td>
                      <td class="align-middle">
                        <span
                          class="badge"
                          [ngClass]="
                            viaje.tipo_viaje_id == 2
                              ? 'badge-warning'
                              : 'badge-primary'
                          "
                        >
                          {{
                            viaje.tipo_viaje_id
                              | nomElem: "tipo_viaje_id":tiposViaje
                          }}
                        </span>
                      </td>
                      <td class="align-middle">
                        <span
                          class="badge"
                          [ngClass]="{
                            'badge-success': viaje.estado_viaje_id == 1,
                            'badge-danger':
                              viaje.estado_viaje_id == 2 ||
                              viaje.estado_viaje_id == 3,
                            'badge-warning': viaje.estado_viaje_id == 4
                          }"
                        >
                          {{
                            viaje.estado_viaje_id
                              | nomElem: "estado_viaje_id":estadosViaje
                          }}
                        </span>
                      </td>
                      <td class="align-middle">{{ viaje.observaciones }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Mensajes de Error -->
            <div class="col-md-9">
              <div
                *ngIf="!loading && errorMessage != ''"
                class="
                  form-group
                  align-middle
                  alert alert-info
                  animate__animated animate__fadeIn
                "
                role="alert"
              >
                <div class="text-center" style="color: #4db8c8">
                  <i class="far fa-folder-open fa-7x"></i>
                </div>
                <h5 class="text-center">
                  {{ errorMessage }}
                </h5>
              </div>
            </div>
            <!-- Fin Mensajes de Error -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
