<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.9)"
  size="medium"
  color="#f5627c"
  type="ball-atom"
  [fullScreen]="true"
  name="viaje_planilla"
  ><p style="color: white">Cargando...</p></ngx-spinner
>

<!-- Contenido -->
<div
  *ngIf="listaViajesTurno.length > 0 && getTurno > 0 && !loading"
  class="container p-3 mb-3 rounded"
>
  <!-- <div class="container-fluid p-3 mb-3 rounded"> -->
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header-list">
          <div class="h4 m-3 text-center text-white">Planilla de Viajes</div>
        </div>
        <div class="card-body back-form shadow-effect">
          <div class="row mb-3 justify-content-center">
            <div
              *ngIf="!nuevo"
              class="
                col-md-8
                btn-group
                animate__animated animate__fadeInDown animate__faster
              "
              role="group"
            >
              <button
                type="button"
                class="btn btn-success btn-block mx-3"
                (click)="nuevoViaje()"
              >
                <i class="fas fa-taxi"></i>
                &nbsp; Nuevo Viaje
              </button>
              <button
                type="button"
                class="btn btn-warning btn-block mx-3"
                (click)="nuevoPendiente()"
              >
                <i class="fas fa-clock"></i>
                &nbsp; Nuevo Pendiente
              </button>
              <button
                type="button"
                class="btn btn-info btn-block mx-3"
                (click)="nuevoPedido()"
              >
                <i class="fas fa-truck"></i>
                &nbsp; Nuevo Pedido
              </button>
            </div>
          </div>

          <!-- Form de Alta de Viajes, Se pasan los datos mediante @Input -->
          <div class="row">
            <div class="col">
              <app-form-viaje
                *ngIf="nuevo"                
                [userLogged]="userLogged"
                [tiposViaje]="tiposViaje"
                [estadosViaje]="estadosViaje"
                [tipo]="tipo"
                [estado]="estado"
                [listaMovilesJornadas]="listaMovilesJornadas"
                [listaChoferes]="listaChoferes"
                (emitCerrar)="mostrarForm($event)"
                (emitViajeGuardado)="viajeAgregado($event)"
              ></app-form-viaje>
            </div>
          </div>
          <!-- Fin Form de Alta de Viajes -->

          <!-- Tabla con Listado de Viajes del Turno Activo -->
          <div class="row justify-content-center">
            <div class="col">
              <div *ngIf="errorMessage == '' && !nuevo" class="box-tabla">
                <div class="cont-tabla">
                  <table class="table table-hover table-responsive">
                    <thead class="list-group-item-secondary animate__animated animate__fadeIn">
                      <tr>
                        <th scope="col" class="align-middle">#</th>
                        <th scope="col" class="align-middle">Móvil</th>
                        <th scope="col" class="align-middle">Chofer</th>
                        <th scope="col" class="align-middle">Calle/Lugar</th>
                        <th scope="col" class="align-middle">Alt.</th>
                        <th
                          scope="col"
                          class="align-middle"
                          style="width: 170px"
                        >
                          Fecha/Hora
                        </th>
                        <th scope="col" class="align-middle text-center">
                          Tipo
                        </th>
                        <th scope="col" class="align-middle text-center">
                          Estado
                        </th>
                        <th scope="col" class="align-middle text-center">
                          Observaciones
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let viaje of listaViajesTurno; let i = index"
                        class="
                          animate__animated animate__fadeInDown animate__faster
                        "
                      >
                        <th
                          scope="row"
                          class="align-middle list-group-item-secondary"
                        >
                          {{ i + 1 }}
                        </th>
                        <th scope="row" class="align-middle text-center">
                          {{
                            viaje.movil_id
                              | nroMovil: "nro_interno":listaMovilesJornadas
                          }}
                        </th>
                        <td class="align-middle">
                          {{
                            viaje.chofer_id
                              | nombreCompleto: "chofer_id":listaChoferes
                          }}
                        </td>
                        <td class="align-middle">{{ viaje.origen_nombre }}</td>
                        <td class="align-middle">{{ viaje.origen_altura }}</td>
                        <td class="align-middle">
                          {{ viaje.fecha_hora | date: "dd/MM/YYYY HH:mm'hs.'" }}
                        </td>
                        <td class="align-middle">
                          <span
                            class="badge"
                            [ngClass]="
                              viaje.tipo_viaje_id == 2
                                ? 'badge-warning'
                                : 'badge-primary'
                            "
                          >
                            {{
                              viaje.tipo_viaje_id
                                | nomElem: "tipo_viaje_id":tiposViaje
                            }}
                          </span>
                        </td>
                        <td class="align-middle">
                          <span
                            class="badge"
                            [ngClass]="{
                              'badge-success': viaje.estado_viaje_id == 1,
                              'badge-danger':
                                viaje.estado_viaje_id == 2 ||
                                viaje.estado_viaje_id == 3,
                              'badge-warning': viaje.estado_viaje_id == 4
                            }"
                          >
                            {{
                              viaje.estado_viaje_id
                                | nomElem: "estado_viaje_id":estadosViaje
                            }}
                          </span>
                        </td>
                        <td class="align-middle">{{ viaje.observaciones }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Mensajes de Error -->
          <div
            *ngIf="getTurno < 0"
            class="form-group alert alert-danger"
            role="alert"
          >
            <h5>No hay un Turno de Operador iniciado</h5>
          </div>
          <div
            *ngIf="errorMessage != ''"
            class="form-group alert alert-danger"
            role="alert"
          >
            <h5 class="text-center">
              {{ errorMessage }} - Usuario: {{ getAlias }}:
            </h5>
          </div>
          <!-- Fin Mensajes de Error -->
        </div>
      </div>
    </div>
  </div>
</div>
