<div class="container-fluid shadow p-3 mb-3 rounded">
  <div class="row justify-content-center">
    <div class="col-md-11">
      <form [formGroup]="datosMovil" (ngSubmit)="confirmaGuardado()">
        <fieldset [disabled]="!editar || loading">
          <div class="row">
            <div class="form-group col-sm-4">
              <!-- Combo Tipos de Móvil -->
              <label for="tipo_movil_id" class="col-form-label"
                >Tipo de Móvil &nbsp;
                <span *ngIf="tipoMovil.touched">
                  <ng-container
                    *ngIf="tipoMovil.valid; then valido; else invalido"
                  ></ng-container>
                </span>
              </label>
              <select
                class="form-control"
                formControlName="tipo_movil_id"
                [ngClass]="{
                  'border-danger': tipoMovil.touched && !tipoMovil.valid
                }"
              >
                <option value="" [selected]="nuevo">
                  -- Seleccione uno --
                </option>
                <option
                  *ngFor="let tipo of listaTipos"
                  [value]="tipo.tipo_movil_id"
                  [selected]="
                    !nuevo && tipo.tipo_movil_id == movil.tipo_movil_id
                  "
                >
                  {{ tipo.nombre }}
                </option>
              </select>
              <small
                *ngIf="tipoMovil.touched && !tipoMovil.valid"
                class="text-danger"
              >
                Seleccione un Tipo
              </small>
            </div>
            <!-- Combo Adherentes -->
            <div class="form-group col-sm-8">
              <label for="adherente_id" class="col-form-label"
                >Adherente &nbsp;
                <span *ngIf="adherente.touched">
                  <ng-container
                    *ngIf="adherente.valid; then valido; else invalido"
                  ></ng-container>
                </span>
              </label>
              <select
                class="form-control"
                formControlName="adherente_id"
                [ngClass]="{
                  'border-danger': adherente.touched && !adherente.valid
                }"
              >
                <option value="" [selected]="nuevo">
                  -- Seleccione uno --
                </option>
                <option
                  *ngFor="let adh of listaAdherentes"
                  [value]="adh.adherente_id"
                  [selected]="!nuevo && adh.adherente_id == movil.adherente_id"
                >
                  {{ adh.apellido }}, {{ adh.nombre }} - Móviles:
                  {{ adh.moviles_activos }}
                </option>
              </select>
              <small
                *ngIf="adherente.touched && !adherente.valid"
                class="text-danger"
              >
                Seleccione un Adherente
              </small>
            </div>
          </div>
          <!-- =================== -->
          <div class="form-row">
            <!-- Combo Año Fabricación -->
            <div class="form-group col-sm-3">
              <label for="anio_fabr" class="col-form-label"
                >Fabricado &nbsp;
                <span *ngIf="fabricado.touched">
                  <ng-container
                    *ngIf="fabricado.valid; then valido; else invalido"
                  ></ng-container>
                </span>
              </label>
              <select
                class="form-control"
                formControlName="anio_fabr"
                [ngClass]="{
                  'border-danger': fabricado.touched && !fabricado.valid
                }"
              >
                <option value="" [selected]="nuevo">
                  -- Seleccione uno --
                </option>
                <option
                  *ngFor="let anio of aniosFabr"
                  [value]="anio"
                  [selected]="!nuevo && anio == movil.anio_fabr"
                >
                  {{ anio }}
                </option>
              </select>
              <small
                *ngIf="fabricado.touched && !fabricado.valid"
                class="text-danger"
              >
                Seleccione un Año
              </small>
            </div>
            <!-- Input Marca del Móvil -->
            <div class="form-group col-sm-4">
              <label for="marca" class="col-form-label"
                >Marca &nbsp;
                <span *ngIf="marca.touched">
                  <ng-container
                    *ngIf="marca.valid; then valido; else invalido"
                  ></ng-container>
                </span>
              </label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{ 'border-danger': marca.touched && !marca.valid }"
                formControlName="marca"
                placeholder="Ej: Chevrolet"
              />
              <small *ngIf="marca.touched && !marca.valid" class="text-danger">
                Ingrese la Marca
              </small>
            </div>
            <!-- Input Modelo del Móvil -->
            <div class="form-group col-sm-5">
              <label for="modelo" class="col-form-label"
                >Modelo &nbsp;
                <span *ngIf="modelo.touched">
                  <ng-container
                    *ngIf="modelo.valid; then valido; else invalido"
                  ></ng-container>
                </span>
              </label>
              <input
                type="text"
                formControlName="modelo"
                placeholder="Modelo"
                class="form-control"
                [ngClass]="{ 'border-danger': modelo.touched && !modelo.valid }"
              />
              <small
                *ngIf="modelo.touched && !modelo.valid"
                class="text-danger"
              >
                Ingrese el Modelo
              </small>
            </div>
          </div>
          <!-- =================== -->
          <div class="row">
            <!-- Input Descripción del Móvil -->
            <div class="form-group col">
              <label for="descripcion" class="col-form-label"
                >Descripción &nbsp;
                <span *ngIf="descripcion.touched">
                  <ng-container
                    *ngIf="descripcion.valid; then valido; else invalido"
                  ></ng-container>
                </span>
              </label>
              <input
                type="text"
                formControlName="descripcion"
                placeholder="Ej.: blanco / 4 ó 5 puertas / baúl grande"
                class="form-control"
                [ngClass]="{
                  'border-danger': descripcion.touched && !descripcion.valid
                }"
              />
              <small
                *ngIf="descripcion.touched && !descripcion.valid"
                class="text-danger"
              >
                Ingrese una Descripción
              </small>
            </div>
          </div>
          <!-- =================== -->
          <div class="row">
            <!-- Input Dominio del Móvil -->
            <div class="form-group col-sm-4">
              <label for="dominio" class="col-form-label"
                >Nro. Dominio &nbsp;
                <span *ngIf="dominio.touched">
                  <ng-container
                    *ngIf="dominio.valid; then valido; else invalido"
                  ></ng-container>
                </span>
              </label>
              <input
                type="text"
                formControlName="dominio"
                placeholder="Chapa Patente"
                class="form-control"
                [ngClass]="{
                  'border-danger': dominio.touched && !dominio.valid
                }"
              />
              <small
                *ngIf="dominio.touched && !dominio.valid"
                class="text-danger"
              >
                Ingrese el Dominio
              </small>
            </div>
            <!-- Input Número de Habilitación del Móvil -->
            <div class="form-group col-sm-4">
              <label for="nro_habilitacion" class="col-form-label"
                >Nro. Habilitación &nbsp;
                <span *ngIf="habilitacion.touched">
                  <ng-container
                    *ngIf="habilitacion.valid; then valido; else invalido"
                  ></ng-container>
                </span>
              </label>
              <input
                type="text"
                formControlName="nro_habilitacion"
                placeholder="Ej.:001"
                class="form-control"
                [ngClass]="{
                  'border-danger': habilitacion.touched && !habilitacion.valid
                }"
              />
              <small
                *ngIf="habilitacion.touched && !habilitacion.valid"
                class="text-danger"
              >
                Ingrese Nro. Habilitación
              </small>
            </div>
            <!-- Input Número Interno del Móvil -->
            <div class="form-group col-sm-4">
              <label for="nro_interno" class="col-form-label"
                >Nro. Interno &nbsp;
                <span *ngIf="nroInterno.touched">
                  <ng-container
                    *ngIf="nroInterno.valid; then valido; else invalido"
                  ></ng-container>
                </span>
              </label>
              <input
                type="text"
                formControlName="nro_interno"
                placeholder="Ej. 20"
                class="form-control"
                [ngClass]="{
                  'border-danger': nroInterno.touched && !nroInterno.valid
                }"
              />
              <small
                *ngIf="nroInterno.touched && !nroInterno.valid"
                class="text-danger"
              >
                Ingrese Nro. Interno
              </small>
            </div>
          </div>
          <!-- =================== -->
          <fieldset>
            <!-- <span class="col-form-label">
              Datos adicionales (opcional)
            </span> -->
            <hr />
            <!-- Input Vencimiento del ITV -->
            <div class="row">
              <div class="form-group col-md-3">
                <label for="fecha_itv" class="col-form-label text-wrap"
                  >Fecha Vencim. I.T.V.</label
                >
                <input
                  [owlDateTime]="fechaITV"
                  [owlDateTimeTrigger]="fechaITV"
                  [min]="fechasITV.minimo"
                  [max]="fechasITV.maximo"
                  class="form-control"
                  formControlName="fecha_itv"
                />
                <owl-date-time
                  [pickerType]="'calendar'"
                  #fechaITV
                ></owl-date-time>
              </div>
              <!-- Input Información de Aseguradora -->
              <div class="form-group col-md-4">
                <label for="seguro" class="col-form-label text-wrap"
                  >Información de Aseguradora &nbsp;
                  <span *ngIf="seguro.touched">
                    <ng-container
                      *ngIf="seguro.valid; then valido; else invalido"
                    ></ng-container>
                  </span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="seguro"
                  placeholder="Ej.: Nro. Póliza / Aseguradora / Validez"
                />
              </div>
              <!-- Combo Chofer Preferido -->
              <div class="form-group col-md-5">
                <label for="chofer_pref" class="col-form-label text-wrap"
                  >Chofer Preferido -- Por defecto al iniciar la Jornada</label
                >
                <ng-container *ngIf="listaChoferes.length; else elseTemplate">
                  <select class="form-control" formControlName="chofer_pref">
                    <option value="" [selected]="nuevo">
                      -- Seleccione uno --
                    </option>
                    <option
                      *ngFor="let chofer of listaChoferes"
                      [value]="chofer.chofer_id"
                      [selected]="
                        !nuevo && chofer.chofer_id == movil.chofer_pref
                      "
                    >
                      {{ chofer.apellido }}, {{ chofer.nombre }}
                    </option>
                  </select>
                </ng-container>
                <ng-template #elseTemplate>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="No hay choferes cargados"
                    readonly
                  />
                </ng-template>
              </div>
            </div>
          </fieldset>

          <div *ngIf="editar" class="form-group row">
            <div class="col-sm-6">
              <button
                type="button"
                (click)="cancelEdit()"
                class="btn btn-secondary btn-block"
              >
                {{ nuevo ? "Limpiar Campos..." : "Descartar Cambios..." }}
              </button>
            </div>
            <div class="col-sm-6">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="datosMovil.invalid || loading"
              >
                <i
                  [ngClass]="
                    loading ? 'fas fa-sync-alt fa-spin' : 'fas fa-save'
                  "
                ></i>
                <span *ngIf="!loading">&nbsp; Guardar Cambios</span>
                <span *ngIf="loading">&nbsp; Guardando...</span>
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<!-- Templates para mostrar en validación del Formulario -->
<ng-template #valido>
  <i class="fas fa-check-circle text-success"></i>
</ng-template>
<ng-template #invalido>
  <i class="fas fa-times-circle text-danger"></i>
</ng-template>
