<div class="container-fluid shadow p-3 mb-3 rounded">
  <div class="row justify-content-center">
    <div class="col-md-11">
      <form [formGroup]="datosMovil" (ngSubmit)="saveMovil()">
        <fieldset [disabled]="!editar">
          <div class="row">
            <!-- <fieldset class="form-group col-sm-4">
              <legend class="col-form-label">Tipo de Móvil *</legend>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="tipo_movil_id"
                  id="radioTaxi"
                />
                <label class="form-check-label" for="radioTaxi"> Taxi </label>                
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="tipo_movil_id"
                  id="radioRemiss"
                />
                <label class="form-check-label" for="radioRemiss">
                  Remiss
                </label>
              </div>
            </fieldset> -->
            <div *ngIf="nuevo" class="form-group col-sm-4">
              <label for="tipo_movil_id" class="col-form-label"
                >Tipo de Móvil *
              </label>
              <select
                class="form-control"
                formControlName="tipo_movil_id"
                [ngClass]="{
                  'border-danger':
                    !datosMovil.get('tipo_movil_id').valid &&
                    datosMovil.get('tipo_movil_id').touched
                }"
              >
                <option value="" selected>-- Seleccione uno --</option>
                <option
                  *ngFor="let tipo of listaTipos"
                  [value]="tipo.tipo_movil_id"
                >
                  {{ tipo.nombre }}
                </option>
              </select>
              <small
                *ngIf="
                  !datosMovil.controls['tipo_movil_id'].valid &&
                  datosMovil.controls['tipo_movil_id'].touched
                "
                class="text-danger"
              >
                Seleccione un Tipo
              </small>
            </div>

            <div *ngIf="!nuevo" class="form-group col-sm-4">
              <label for="tipo_movil_id" class="col-form-label"
                >Tipo de Móvil *
              </label>
              <select class="form-control" formControlName="tipo_movil_id">
                <option
                  *ngFor="let tipo of listaTipos"
                  [value]="tipo.tipo_movil_id"
                  [selected]="tipo.tipo_movil_id == movil.tipo_movil_id"
                >
                  {{ tipo.nombre }}
                </option>
              </select>
            </div>

            <div *ngIf="nuevo" class="form-group col-sm-8">
              <label for="adherente_id" class="col-form-label"
                >Adherente *
              </label>
              <select
                class="form-control"
                formControlName="adherente_id"
                [ngClass]="{
                  'border-danger':
                    !datosMovil.get('adherente_id').valid &&
                    datosMovil.get('adherente_id').touched
                }"
              >
                <option value="" selected>-- Seleccione uno --</option>
                <option
                  *ngFor="let adh of listaAdherentes"
                  [value]="adh.adherente_id"
                >
                  {{ adh.apellido }}, {{ adh.nombre }} - Móviles:
                  {{ adh.moviles_activos }}
                </option>
              </select>
              <small
                *ngIf="
                  !datosMovil.controls['adherente_id'].valid &&
                  datosMovil.controls['adherente_id'].touched
                "
                class="text-danger"
              >
                Seleccione un Adherente
              </small>
            </div>

            <div *ngIf="!nuevo" class="form-group col-sm-8">
              <label for="adherente_id" class="col-form-label"
                >Adherente *
              </label>
              <select
                class="form-control"
                formControlName="adherente_id"            
              >                
                <option
                  *ngFor="let adh of listaAdherentes"
                  [value]="adh.adherente_id"
                  [selected]="adh.adherente_id == movil.adherente_id" 
                >
                  {{ adh.apellido }}, {{ adh.nombre }} - Móviles:
                  {{ adh.moviles_activos }}
                </option>
              </select>
              
            </div>
          </div>

          
          <!-- ====== -->
          <div class="form-row">
            <div *ngIf="nuevo" class="form-group col-sm-3">
              <label for="anio_fabr" class="col-form-label"
                >Fabricado:</label
              >
              <select
                class="form-control"
                formControlName="anio_fabr"
                [ngClass]="{
                  'border-danger':
                    !datosMovil.get('anio_fabr').valid &&
                    datosMovil.get('anio_fabr').touched
                }"
              >
                <option value="" selected>-- Seleccione uno --</option>
                <option *ngFor="let anio of aniosFabr" [value]="anio">
                  {{ anio }}
                </option>
              </select>
              <small
                *ngIf="
                  !datosMovil.controls['anio_fabr'].valid &&
                  datosMovil.controls['anio_fabr'].touched
                "
                class="text-danger"
              >
                Seleccione un Año
              </small>
            </div>
            <div *ngIf="!nuevo" class="form-group col-sm-3">
              <label for="anio_fabr" class="col-form-label"
                >Fabricado:</label
              >
              <select
                class="form-control"
                formControlName="anio_fabr"                
              >
                
                <option *ngFor="let anio of aniosFabr" 
                [value]="anio"
                [selected]="anio == movil.anio_fabr"
                >
                  {{ anio }}
                </option>
              </select>              
            </div>

            <div class="form-group col-sm-4">
              <label for="marca" class="col-form-label">Marca *</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'border-danger':
                    !datosMovil.get('marca').valid &&
                    datosMovil.get('marca').touched
                }"
                formControlName="marca"
                placeholder="Ej: Chevrolet"
              />
              <small
                *ngIf="
                  datosMovil.get('marca').invalid &&
                  datosMovil.get('marca').touched
                "
                class="text-danger"
              >
                Ingrese la Marca
              </small>
            </div>
            <div class="form-group col-sm-5">
              <label for="modelo" class="col-form-label">Modelo *</label>
              <input
                type="text"
                formControlName="modelo"
                placeholder="Modelo"
                class="form-control"
                [ngClass]="{
                  'border-danger':
                    !datosMovil.get('modelo').valid &&
                    datosMovil.get('modelo').touched
                }"
              />
              <small
                *ngIf="
                  datosMovil.controls['modelo'].invalid &&
                  datosMovil.controls['modelo'].touched
                "
                class="text-danger"
              >
                Ingrese el Modelo
              </small>
            </div>
          </div>
          <!-- ====== -->
          <div class="row">
            <div class="form-group col">
              <label for="descripcion" class="col-form-label"
                >Descripción *</label
              >
              <input
                type="text"
                formControlName="descripcion"
                placeholder="Ej.: blanco / 4 ó 5 puertas / baúl grande"
                class="form-control"
                [ngClass]="{
                  'border-danger':
                    !datosMovil.get('descripcion').valid &&
                    datosMovil.get('descripcion').touched
                }"
              />
              <small
                *ngIf="
                  !datosMovil.controls['descripcion'].valid &&
                  datosMovil.controls['descripcion'].touched
                "
                class="text-danger"
              >
                Ingrese una Descripción
              </small>
            </div>
          </div>
          <!-- ====== -->
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="dominio" class="col-form-label">Dominio *</label>
              <input
                type="text"
                formControlName="dominio"
                placeholder="Chapa Patente"
                class="form-control"
                [ngClass]="{
                  'border-danger':
                    !datosMovil.get('dominio').valid &&
                    datosMovil.get('dominio').touched
                }"
              />
              <small
                *ngIf="
                  !datosMovil.controls['dominio'].valid &&
                  datosMovil.controls['dominio'].touched
                "
                class="text-danger"
              >
                Ingrese el Dominio
              </small>
            </div>
            <div class="form-group col-sm-4">
              <label for="nro_habilitacion" class="col-form-label"
                >Habilitación *</label
              >
              <input
                type="text"
                formControlName="nro_habilitacion"
                placeholder="Ej.:001"
                class="form-control"
                [ngClass]="{
                  'border-danger':
                    !datosMovil.get('nro_habilitacion').valid &&
                    datosMovil.get('nro_habilitacion').touched
                }"
              />
              <small
                *ngIf="
                  !datosMovil.controls['nro_habilitacion'].valid &&
                  datosMovil.controls['nro_habilitacion'].touched
                "
                class="text-danger"
              >
                Ingrese Nro. Habilitación
              </small>
            </div>
            <div class="form-group col-sm-4">
              <label for="nro_interno" class="col-form-label"
                >Nro. Interno *</label
              >
              <input
                type="text"
                formControlName="nro_interno"
                placeholder="Ej. 20"
                class="form-control"
                [ngClass]="{
                  'border-danger':
                    !datosMovil.get('nro_interno').valid &&
                    datosMovil.get('nro_interno').touched
                }"
              />
              <small
                *ngIf="
                  !datosMovil.controls['nro_interno'].valid &&
                  datosMovil.controls['nro_interno'].touched
                "
                class="text-danger"
              >
                Ingrese Nro. Interno
              </small>
            </div>
          </div>
          <!-- ====== -->
          <hr />
          <fieldset>
            <!-- <legend class="col-form-label float-sm-left">
              Datos adicionales (opcional)
            </legend> -->
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="fecha_itv" class="col-form-label"
                  >Vencimiento <br />
                  I.T.V.</label
                >
                <input
                  type="date"
                  class="form-control"
                  formControlName="fecha_itv"
                  [min]="minMaxITV[0]"
                  [max]="minMaxITV[1]"
                  (click)="logFechaHora()"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="seguro" class="col-form-label"
                  >Información de <br />
                  Seguro</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="seguro"
                  placeholder="Ej.: Nro. Póliza / Aseguradora / Validez"
                />
              </div>
              <div class="form-group col-md-5">
                <label for="chofer_pref" class="col-form-label"
                  >Chofer Preferido<br />(Al iniciar Jornada)</label
                >
                <select *ngIf="nuevo" class="form-control" formControlName="chofer_pref">
                  <option value="" selected>-- Seleccione uno --</option>
                  <option
                    *ngFor="let chofer of listaChoferes"
                    [value]="chofer.chofer_id"
                  >
                    {{ chofer.apellido }}, {{ chofer.nombre }}
                  </option>
                </select>
                <select *ngIf="!nuevo" class="form-control" formControlName="chofer_pref">
                  <option value="" selected>-- Seleccione uno --</option>
                  <option
                    *ngFor="let chofer of listaChoferes"
                    [value]="chofer.chofer_id"
                    [selected]="chofer.chofer_id == movil.chofer_pref"
                  >
                    {{ chofer.apellido }}, {{ chofer.nombre }}
                  </option>
                </select>
              </div>
              <!-- <div *ngIf="!nuevo" class="form-group col-md-5">
                <label for="chofer_pref" class="col-form-label"
                  >Chofer Preferido<br />(Por defecto al iniciar Jornada)</label
                >
                <select class="form-control" formControlName="chofer_pref">
                  <option value="" selected>-- Seleccione uno --</option>
                  <option
                    *ngFor="let chofer of listaChoferes"
                    [value]="chofer.chofer_id"
                    [selected]="chofer.chofer_id == movil.chofer_pref"
                  >
                    {{ chofer.apellido }}, {{ chofer.nombre }}
                  </option>
                </select>
              </div> -->
            </div>
          </fieldset>

          <div *ngIf="editar" class="form-group row">
            <div class="col-sm-6">
              <button                
                (click)="cancelEdit()"
                class="btn btn-secondary btn-block"
              >
                {{ nuevo ? 'Limpiar Campos...' : 'Descartar Cambios...' }}
              </button>
              <!-- <button
                *ngIf="nuevo"
                type="reset"
                class="btn btn-secondary btn-block"
              >
                Limpiar campos...
              </button> -->
            </div>
            <div class="col-sm-6">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="datosMovil.invalid"
              >
                Guardar cambios...
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<pre> {{ datosMovil.value | json }}  </pre>
